<div class="row">
  <%= for user <- @users do %>
    <div class="card col-xs-3 m-3">
      <div class="card-body">
        <h4 class="card-title">
          <a target="_blank" href="<%= user_path(@conn, :show, user.id) %>"><%= user.username %></a>
        </h4>
        <div class="card-text">
          <p>Added at: <%= user.inserted_at %></p>
          <small><a href="<%= link_path(@conn, :edit, user.id) %>">Edit</a></small>
        </div>
      </div>
    </div>
  <% end %>
</div>