/* This file is for your main application css. */

@media screen and (min-width: 40em) {
  .cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .card {
    flex: 0 1 calc(50% - 1em);
  } 
}

@media screen and (min-width: 60em) {
  .card {
    flex: 0 1 calc(25% - 1em);
   }
}